<?xml version="1.0" encoding="UTF-8"?>
<configure>
	<!-- 配置参数 -->
	<properties>
		<!-- 目标项目路径 -->
		<property key="project_path" value="/Users/flynn/Data/git/other/Pheromones/"/>
		<!-- 输出编码 -->
		<property key="encode" value="UTF-8"/>
		<!-- 模板位置（可选，默认内置template） -->
<!-- 		<property key="vm_file" value="template.vm"/> -->
		<!-- 扩展名 -->
		<property key="extension" value="java"/>
		
		<!-- 保存文件名的propertyKey（可选，默认file_name，不指定file_name则为$alias.$extension） -->
<!-- 		<property key="filename_key" value=""/> -->
		<!-- 模板位置propertyKey（可选，默认vm_file） -->
<!-- 		<property key="vmfile_key" value="vm_file"/> -->
		<!-- 是否output的propertyKey（可选，默认visible） -->
<!-- 		<property key="output_key" value="visible"/> -->
		<!-- 项目内相对路径（可选，默认package_path，输出路径不存在则由package转换） -->
<!-- 		<property key="relative_path_key" value="test"/> -->
	</properties>
	
	<nodes>
		<node alias="TmpClass2" baseAlias="Base" parent="" interface="com.clouter.pheromones.common.INode" file_name="TmpClass2">
			<field alias="float" name="value0" desc="float value"/>
			<field alias="double" name="value1" desc="double value"/>
			<field alias="byte" name="value2" desc="byte value"/>
			<field alias="short" name="value3" desc="short value"/>
			<field alias="int" name="value4" desc="int value"/>
			<field alias="long" name="value5" desc="long value"/>
			<field alias="string" name="value6" desc="string value"/>
			<field alias="boolean" name="value7" desc="boolean value"/>
		</node>
		<node resource="structure.xml"/>
	</nodes>
</configure>
